<div ng-controller="EntityTypeController as ctrl">
    <h2 class="mb-3">{{ctrl.entityType.name}}
    <small class="text-muted" ng-if="ctrl.entityType.baseType">inherits {{ctrl.entityType.baseType}}</small>
    </h2>
    <div ng-if="ctrl.entityType">
        <div ng-if="ctrl.entityType.property.length">
            <h5 class="my-3">Properties</h5>
            <ul class="list-group">
                <li ng-repeat="property in ctrl.entityType.property" class="list-group-item">
                    <span class="lead">{{property.name}}</span>
                    <small class="text-muted">
                        <span ng-if="property.propertyType == null">{{property.type}}</span>
                        <span ng-if="property.propertyType != null">
                            <a class="text-primary" ui-sref="entityType({ name: property.propertyType })">{{property.propertyType}}</a>
                        </span>
                    </small>
                </li>
            </ul>
        </div>

        <div ng-if="ctrl.entityType.inheritedProperty.length">
            <h5 class="my-3">Inherited properties</h5>
            <ul class="list-group">
                <li ng-repeat="property in ctrl.entityType.inheritedProperty" class="list-group-item">
                    <span class="lead">{{property.name}}</span>
                    <small class="text-muted">
                        <span ng-if="property.propertyType == null">{{property.type}}</span>
                        <span ng-if="property.propertyType != null">
                            <a class="text-primary" ui-sref="entityType({ name: property.propertyType })">{{property.propertyType}}</a>
                        </span>
                    </small>
                </li>
            </ul>
        </div>

    </div>
</div>
